COPYING
INSTALL

configure
config.h

Makefile
Makefile.in
aclocal.m4
autom4te.cache
bom-extract-*.tar.gz
compile
config.h.in
config.log
config.status
depcomp
install-sh
missing
.deps
stamp-h1

*.a
*.o
*.exe

external
